weights/tts_weights/checkpts/config.json
weights/tts_weights/checkpts/g_02500000
weights/tts_weights/checkpts/grad_444.pt
weights/tts_weights/checkpts/train.log
weights/mt_weights/checkpts/mt_weight.pth
